<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menu"><%= paginas_menu_helper_by_pages({'Home'=>1,'featured'=>2})%></div>
<div id="menu2"><%= paginas_menu_helper_by_cat(3)%></div>

<%= yield %>

</body>
</html>
